VITE_PORT=3000
VITE_API_URL=https://api.example.com
VITE_ENV=DEVELOP
VITE_LANGUAGE=en
VITE_SOCKET_URL=wss://socket.example.com
VITE_PUBLIC_POSTHOG_KEY=
VITE_PUBLIC_POSTHOG_HOST=https://app.posthog.com
